/*src\styles\CardPergunta.module.css*/
.cardPergunta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 4rem);
  max-width: 400px; 
  margin: 2rem auto; 
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}

.pergunta {
  font-size: 1.5em;
  font-weight: bold; 
  color: #000; 
  margin: 16px;
}

.resposta {
  text-align: center;
  font-size: 1em;
  color: #757575;
}

.botaoMostrarResposta {
  display: block;
  width: 90%;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-radius: 6px;
  margin: 10px 0;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
}

.botaoMostrarResposta:hover {
  background-color: #555;
}

.botaoMostrarRespostaMostrar {
  width: 70%;
  border-radius: 0.3rem;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: lightseagreen;
  color: white;
  font-weight: bold;
}

.botaoAcertou {
  width: 70%;
  border-radius: 0.3rem;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #32CD32;
  color: black;
  font-weight: bold;
}

.botaoErro {
  width: 70%;
  border-radius: 0.3rem;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #FF4500;
  color: white;
  font-weight: bold;
}
