/* CardPergunta.module.css */
.cardPergunta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 4rem); /* Ajuste a largura conforme necessário */
  max-width: 400px; /* Largura máxima para o card */
  margin: 2rem auto; /* Margem automática para centralizar */
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}

.pergunta {
  font-size: 1.5em; /* Tamanho fixo da fonte */
  font-weight: bold; /* Peso fixo da fonte */
  color: #000; /* Cor fixa da fonte */
  margin: 16px;
}

.resposta {
  text-align: center;
  font-size: 1em;
  color: #757575;
}

.botaoMostrarResposta {
  display: block;
  width: 90%;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-radius: 6px;
  margin: 10px 0;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
}

.botaoMostrarResposta:hover {
  background-color: #555;
}

.botaoMostrarRespostaMostrar {
  width: 70%;
  border-radius: 0.3rem;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #008cba;
  color: white;
  font-weight: bold;
}

.botaoAcertou {
  width: 70%;
  border-radius: 0.3rem;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #00ff40;
  color: black;
  font-weight: bold;
}

.botaoErro {
  width: 70%;
  border-radius: 0.3rem;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #ff4800;
  color: white;
  font-weight: bold;
}
