/* src/styles/PlacarPerguntas.module.css */

.scoreboard {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    width: 25rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .scoreboardTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 30px;
    color: #333;
  }
  
  .scoreboard p {
    font-size: 18px;
    margin: 10px 0;
    color: #555;
  }
  
  .resetButton {
    background-color: lightseagreen;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s;
  }
  
  .resetButton:hover {
    background-color: rgb(26, 133, 127);
  }
  